<br><br>


<h1 class="text-warning">Ayuda</h1>
<p class="text-light">Este apartado te ayudara a ver como funciona la aplicación por si tienes algun problema o
    duda.</p>
<br>
<div class="card">
    <div class="card-body">
        <h3>Como Crear una Nueva Tarjeta de Obra</h3>
        <a class="btn btn-warning" href="/articulos/add" role="button">Ir a Nueva Obra</a>
    </div>
    <div class="card-body">
        <h3>Campos Obligatorios en una Tarjeta de Obra</h3>
        <p>El unico campo obligatiorio a la hora de crear una tarjeta nueva es el Nº de Obra, con este campo
            identificaras la obra.</p>
    </div>
    <div class="card-body">
        <h3>Formato de las Imagenes</h3>
        <p>En el campo "Nombre de la Imagen" tendremos que introducir el nombre completo de la imagen junto a su
            extension.</p>
        <hr>
        <h5>Ejemplo de Nombre de Imagen</h5>
        <p>picasso.jpg</p>
    </div>
    <div class="card-body">
        <h3>Exportar Base de Datos</h3>
        <p>Para exportar la base de datos lo que tendremos que hacer es sencillo.</p>
        <ul>
            <li><b>Windows</b></li>
            <ul>
                <li>Ir a: C:\Program Files\MongoDB\Server\4.0</li>
                <li>Copiar la carpeta "data".</li>
            </ul>
            <li><b>MAC</b></li>
            <ul>
                <li>Ir al disco duro del ordenador.</li>
                <li>Copiar la carpeta "data".</li>
            </ul>
        </ul>
    </div>
    <div class="card-body">
        <h3>Cualquier problema o Error</h3>
        <p>En caso de tener algun problema del que no disponga una solucion o detectar algun error del programa seria
            de mucha ayuda registrarlo en la siguiente pagina: <a href="https://github.com/Ceci98/OArt/issues" class="text-danger font-weight-bold font-italic h5">O'Art
                Problemas</a>
        </p>
        <p>En esta pagina podras encontrar el apartado <span class="text-primary">"Issues"</span> en el que podras
            crear un ticket con el problema, este
            problema me llegara via mail y lo podre solucionar lo antes posible.</p>
    </div>
</div>