<br><br>

<div class="jumbotron mt-2">
    <h1 class="display-2 text-center">O'Art</h1>
    <p class="lead text-center"><em>La Base de Datos de Obras de Arte Personal</em></p>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <center><a class="btn btn-warning" href="/articulos/add" role="button">Nueva Obra</a></center>
        </div>
        <div class="col">
            <center><a class="btn btn-warning" href="/articulos" role="button">Lista de Obras</a></center>
        </div>
        <div class="col">
            <center><a class="btn btn-warning" href="/help" role="button">Ayuda</a></center>
        </div>
    </div>
</div>